@import "../../style/variables.less";
@import "../../style/mixins.less";

div.menu {
    position:fixed;
    top:@header-height;
    left:0;
    bottom:0;
    width:@menu-width;
    background:lighten(@dark-background-colour, 5%);

    .menu-item {
        font-family:roboto;
        display:block;
        text-decoration:none;
        width:100%;
        padding:@spacing;
        font-size:1em;
        color:#D0D0D0;
        cursor:pointer;
        border-left:solid 5px transparent;

        &:hover {
            background:lighten(@dark-background-colour, 8%);
        }

        &.selected {
            background:lighten(@dark-background-colour, 10%);
            border-color:@light-secondary-colour;
            cursor:default;
            color:white;
        }
    }
}
