@import "../../style/variables.less";
@import "../../style/mixins.less";

.page-header {
	width:100%;
	height:@header-height;
	background:@header-background;
	.box-shadow(0 2px 8px rgba(100, 100, 100, 0.4));

	.logo-container {
		float:left;
		.vertical-centre(@header-height);
	}
}