@header-height:60px;

@header-background:#026aa7;

@spacing: 1em;

@secondary-font-colour:#026aa7;
@dark-secondary-font-colour:darken(@secondary-font-colour, 10%);
@light-secondary-font-colour:lighten(@secondary-font-colour, 30%);
@grey-font-colour:#A0A0A0;
@light-grey-font-colour:#E0E0E0;
@favourite-font-colour:rgb(255, 173, 26);
@twitter-blue:#55acee;
@grey-border-colour:#D0D0D0;