@import "../../../style/variables.less";
@import "../../../style/mixins.less";

.sign-in-container {
    min-height:340px;

    .sign-in {
        margin:auto;
        margin-top:20px;
        background-color:rgba(240, 240, 240, 0.7);
        padding:1.5em;
		font-size:0.75em;
        .border-radius;
        width:80%;

        .logo {
            font-size:2em;
            font-family:Roboto;
            text-transform:uppercase;
            color:@secondary-colour;
        }

        .twitter-button {
            float:left;
            padding:0.5em 0.75em;
            .border-radius;
            color:white;
            background:@twitter-blue;
            cursor:pointer;

            >i {
                float:left;
                margin-right:@spacing/2;
                font-size:20px;
            }

            >span {
                float:left;
            }
        }
    }
}

@media (min-width:350px) {
	.sign-in-container {
		min-height:385px !important;
	}
	
	.sign-in {
		margin-top:50px !important;
	}
}

@media (min-width:768px) {	
	.sign-in {
		width:600px !important;
		margin-top:100px !important;
		font-size:0.875em !important;
	}
}

@media (min-width:1024px) {
	.sign-in-container {
		min-height:445px !important;
	}
}

@media (min-width:1100px) {
	.sign-in {
		font-size:1em !important;
	}
}